body {
    margin: 0;
    background-image: url('/img/bg-site.jpg');
}

header {
    background-color: orange;
    height: 13%;
    padding-left: 15%;
}

header input {
    height: 100%;

    border: none;
    background-color: orange;

    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: white;
}

header input:hover {
    background-color: rgb(253, 178, 39);
    color: black;
}

header img {
    left: 2%;
    top: 1%;

    max-width: 10%;
    max-height: 10%;
    position: absolute;
}

div#content {
    min-height: 75%;
    padding-top: 2%;
    padding-bottom: 2%;

    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;

    font-weight: bold;
    color:white;
}

div#content h1 {
    align-self: center;
}

div#content input {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    width: 30%;

    height: 4%;
    border: none;
}

div#content label {
    margin-left: 30%;
    margin-right: 30%; 
    width: 30%;
}

div#content button {
    border-style: none;
    border-radius: 15px;
    height: 5%;

    margin-left: 30%;
    margin-right: 30%;
    width: 30%;
    margin-top: 2%;

    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
}

footer {
    background-color: #264653;
    height: 7%;

    padding-top: 1%;

    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}